.image_raunded {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 0.6em;
  margin-bottom: 1em;
}

.yourbox {
  position: absolute;
  left: 93%;
  top: 1;
}

.active {
  background-color: #0d6dfd;
  border-radius: 1em;
}

.btn-outline-success {
  background-color: #0d6dfd;
  color: aliceblue;
}

.my_body {
  background-color: #2b3035;
}

.my_menu {
  color: white;
}

.my_menu:hover {
  color: #0d6dfd;
}

.overlay {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.my_p {
  text-align: left;
  margin: 0;
}

.small_image {
  width: 50px;
  height: 50px;
}

.btn-inverse {
  background-color: #0d6dfd;
  color: white;
}

.btn-inverse:hover {
  background-color: green;
}

.white_text {
  color: white;
}

.container_my {
  max-width: 100%;
}

.firstcontainer {
  margin-top: 50px;
  margin-block-end: 60px;
}

.my_img {
  width: 95%;
  border-radius: 20%;
}
