<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="обучение языку Solidity" />
    <meta
      name="keywords"
      content="Solidity, программирование, обучение, школа solidity, смарт-контракты, умные контракты"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/img/fav/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/img/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/img/fav/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/img/fav/site.webmanifest" />
    <link rel="stylesheet" href="../templates/css/style.css" />
    <title>SolidityShool - обучение Solidity</title>
  </head>
  <body>
    <!-- <header>{% include 'includes/header_new.html' %}</header> -->
    <nav
      class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand my_menu" href="index.html">
          <img
            src="../static/img/logo.png"
            alt="Logo"
            width="35"
            height="29"
            class="d-inline-block align-text-top"
          />
          SolidityShool
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link my_menu" href="#">Упражнения</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my_menu" href="#">Лидеры</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my_menu" href="resources.html">Ресурсы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my_menu" href="price.html">Цены</a>
            </li>
            <li class="nav-item">
              <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success yourbox" type="button">
                  Войти
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container text-center firstcontainer">
        <div class="row align-items-center">
          <div class="col my-3">
            <img src="../static/img/for_slide.png" alt="" />
            <h1 style="color: black">
              Что такое <span style="color: #0d6dfd">Solidity </span>?
            </h1>
            <p style="color: black">
              небольшое объяснение, для тех, кто не в курсе
            </p>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-1 my-3" style="margin-right: 10px">
                <img src="../static/img/smart.png" alt="" class="small_image" />
              </div>
              <div class="col-10 my-3">
                <p class="my_p">
                  Это объектно-ориентированный язык программирования для
                  <span style="color: #0d6dfd">умных контрактов</span>
                  (смарт-контрактов)
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-3" style="margin-right: 10px">
                <img
                  src="../static/img/without_people.png"
                  alt=""
                  class="small_image"
                />
              </div>
              <div class="col-10 my-3">
                <p class="my_p">
                  Смарт-контракты - это компьютерный алгоритм, который выполняет
                  определенные действия
                  <span style="color: #0d6dfd">без участия людей</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-3" style="margin-right: 10px">
                <img src="../static/img/chain.png" alt="" class="small_image" />
              </div>
              <div class="col-10 my-3">
                <p class="my_p">
                  Solidity используется в самых крупных блокчейнах, таких как:
                  <span style="color: #0d6dfd">Ethereum</span>,
                  <span style="color: #ff2bff">Polygon</span>,
                  <span style="color: #ffce46">BNB</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-3" style="margin-right: 10px">
                <img
                  src="../static/img/popular.png"
                  alt=""
                  class="small_image"
                />
              </div>
              <div class="col-10 my-3">
                <p class="my_p">
                  Появился только в
                  <span style="color: #0d6dfd">2014</span> году и уже пользуется
                  огромной популярностью
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="projects-section bg-light" id="projects">
        <div
          class="container px-4 px-lg-5"
          style="background-color: #2b3035; max-width: 100%"
        >
          <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6" style="margin-top: 50px">
              <img
                class="img-fluid my_img"
                src="../static/img/Popular ETH.png"
                alt="..."
              />
            </div>
            <div class="col-lg-6">
              <div
                class="text-center h-100 project"
                style="background-color: #2b3035"
              >
                <div class="d-flex h-100">
                  <div
                    class="project-text w-100 my-auto text-center text-lg-left"
                  >
                    <h4 class="text-white">
                      <span style="color: #0d6dfd">Востребованная</span>
                      профессия
                    </h4>
                    <p
                      class="mb-0 text-white"
                      style="
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-top: 30px;
                      "
                    >
                      Одна из самых востребованных профессий в сфере WEB3 и
                      блоккчейн разработки. Посмотрите на график слева - синяя
                      линия это потребность в Solidity специалистах в 2022 году.
                    </p>
                    <hr class="d-none d-lg-block mb-0 ms-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Project Two Row-->
          <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
              <img
                class="img-fluid my_img"
                src="../static/img/Money.png"
                alt="..."
              />
            </div>
            <div class="col-lg-6 order-lg-first">
              <div
                class="text-center h-100 project"
                style="background-color: #2b3035"
              >
                <div class="d-flex h-100">
                  <div
                    class="project-text w-100 my-auto text-center text-lg-right"
                  >
                    <h4 class="text-white">
                      Высокие <span style="color: #ff2bff">зарлаты</span>
                    </h4>
                    <p
                      class="mb-0 text-white"
                      style="
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-top: 30px;
                      "
                    >
                      Средняя зарплата Solidity разработчика составляет 150 000
                      тысяч долларов в год или 11 миллионов рублей. При этом
                      разброс вакансий начинается от 95 000 тысяч долларов в
                      год, или 7 миллионов рублей.
                    </p>
                    <hr class="d-none d-lg-block mb-0 me-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6" style="margin-block-end: 50px">
              <img
                class="img-fluid my_img"
                src="../static/img/Popular crypto.jpg"
                alt="..."
              />
            </div>
            <div class="col-lg-6">
              <div
                class="text-center h-100 project"
                style="background-color: #2b3035"
              >
                <div class="d-flex h-100">
                  <div
                    class="project-text w-100 my-auto text-center text-lg-left"
                  >
                    <h4 class="text-white">
                      <span style="color: #ffce46">Рост</span> финансирования
                    </h4>
                    <p
                      class="mb-0 text-white"
                      style="
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-top: 30px;
                      "
                    >
                      Вы можете видеть как возратстают расходы государств на
                      блокчейн из года в год и эта денденция сохранится.
                      Технологии блокчейна приходят во все сферы общественной
                      жизни.
                    </p>
                    <hr class="d-none d-lg-block mb-0 ms-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-section" id="services">
        <div class="container">
          <div class="text-center">
            <h2 class="section-heading text-uppercase" style="margin: 40px">
              Что вы изучите?
            </h2>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="../static/img/logo.png" alt="" />
              </span>
              <h4 class="my-3">Solidity</h4>
              <p class="text">
                Основной язык программирования для смарт-контрактов в настоящее
                время.
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="../static/img/Uniswap.png" alt="" />
              </span>
              <h4 class="my-3">Defi</h4>
              <p class="text">
                Узнаете как применить Solidity в Defi протоколах и для чего он
                там нужен.
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="../static/img/Hardhat.png" alt="" />
              </span>
              <h4 class="my-3">Hardhat</h4>
              <p class="text">
                Научитесь тестировать ваши смарт-контракты с помощью
                инструментов Hardhat.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="border-top text-center py-3">
      <!-- {% include 'includes/footer_new.html' %} -->
      <p>© 2023 Copyright <span style="color: #0d6dfd">Boris </span>V.</p>
    </footer>
  </body>
</html>
